{% block extends %}
{{ "{% extends '@CPSMain/Tpl/principal.html.twig' %}" }}
{{ "{% block stylesheet %}" }}
{{ "{{ parent() }}" }}
{{ "<link rel=\"stylesheet\" type=\"text/css\" href=\"{{ asset('css/mensajes/lobibox.css') }}\"/>" }}
{{ "{% endblock %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block cuerpo %}" }}
    <h1>{{ entity_singularized|capitalize }} creation</h1>

    {{ "{{ form_start(form, {'attr': {'class': 'form-horizontal "~ route_name_prefix ~"', 'autocomplete': 'disabled' }}) }}" }}
    {#    {{ '{{ form_widget(form) }}' }}    #}
    <span class="section">Texto si se quiere poner</span>
        <p>
            <!--
            una idea de como poner varios en una fila
            <div class="row">
                <label for="aaaaa" class="col-sm-3 col-sm-offset-2 control-label">Ingreso por:</label>
                <div class="col-sm-6">
                    <input type="radio" name="ingresoLugar" value="ingreEmer" required tabindex="3">
                </div>
                <label for="bbbbb" class="col-sm-1 control-label">Fecha</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
                </div>
                <label for="ccccc" class="col-sm-1 control-label">Hora</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control">
                </div>
            </div>
            -->
            {%- for field in fields -%} 
            {{ "\n" }}
            <div class="form-group">
                {{  "{{ form_label(form." ~ field | first ~ ", null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}" }}
                <div class="col-sm-10">
                    {{ "{{ form_widget(form." ~ field | first ~ ", {'attr': {'class': 'form-control'}}) }} " }}
                </div>
            </div>
        {%- endfor %}
        </p>
        <input type="submit" value="Create" />
    {{ '{{ form_end(form) }}' }}

{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}

{{ "{% block javascript %}" }}
{{ "<script type=\"text/javascript\" src=\"{{ asset('js/mensaje/lobibox.min.js') }}\"></script>" }}
{{ "<script type=\"text/javascript\" src=\"{{ asset('js/cps.js') }}\"></script>" }}
{{ "{{ parent() }}" }}
{{ "<script type=\"text/javascript\">" }}
{{ "$(document).on(\"ready\", _inicio);" }}
{{ "/**" }}
{{ " * [_inicio funcion inicio que se convoca cuando cargamos la pagina]" }}
{{ " * @return {[type]} [description]" }}
{{ " */" }}
{{ "function _inicio() {" }}
{{ "    $(\"classidGuardar\").on( \"click\", guardar );" }}
{{ "}" }}
{{ "" }}
{{ "function guardar(e) {" }}
{{ "    serializarFormObjectCPS();" }}
{{ "    e.preventDefault();" }} 
{{ "    var form = $(.'" ~ route_name_prefix ~ "');" }}
{{ "" }}
{{ "    if(!form[0].checkValidity()){" }}
{{ "        return false;" }}
{{ "    }" }}
{{ "" }}
{{ "    var form_data = form.serializeObject();" }}
{{ "    $('#" ~ route_name_prefix ~ "_guardar').attr('disabled',true);" }}
{{ "    $.ajax({" }}
{{ "        url: '{{ path('" ~ route_name_prefix ~ "_new') }}'," }}
{{ "        type: 'POST'," }}
{{ "        dataType: 'json'," }}
{{ "        data: form_data," }}
{{ "        success:function(data){" }}
{{ "            if(data.status == 'error'){" }}
{{ "                lobiError( data.message );" }}
{{ "                $('classidBotonGuardar').attr('disabled',false);" }}
{{ "            }" }}
{{ "            if(data.status == 'success'){" }}
{{ "                lobiOk( data.message );" }}
{{ "                $('#" ~ route_name_prefix ~ "_imprimir').removeAttr('disabled');" }}
{{ "                $('#" ~ route_name_prefix ~ "_hidde').attr('value', data.id);" }}
{{ "                $('#" ~ route_name_prefix ~ "_guardar').attr('disabled',true);" }}
{{ "            }" }}
{{ "        }" }}
{{ "    });" }}
{{ "}" }}
{{ "" }}
{{ "function imprimir() {" }}
{{ "    var res = $('#" ~ route_name_prefix ~ "_hidde').val();" }}
{{ "    // var pdfLink = \"{ path('rutaParaImprimir', {'id': 'textoParaCambiar'} ) }\";" }}
{{ "    // pdfLink = pdfLink.replace(\"textoParaCambiar\", res);" }}
{{ "    // window.open( pdfLink );" }}
{{ "    return false;" }}
{{ "}" }}
{{ "</script>" }}
{{ "{% endblock %}" }}

{% endblock body %}
